#upSide{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

#upSide h4{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    width: 300px;
}

#upSide button{
    margin: 15px 0;
}

#buttons{
    width: 300px;
}

#blueBtn,
#redBtn,
#startBtn,
#betBtn{
    padding: 5px 10px;
    width: 80px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#blueBtn{
    background: #5280d4;
}

#redBtn{
    background: red;
}

#startBtn{
    background: green;
}

#betBtn{
    background: #8a6a1b;
}

#betting{
    display: flex;
    align-items: center;
    width: 300px;
}

#buttons input{
    height: 29px;
    width: 40%;
    margin: 20px 0px;
    border: 1px solid black;
    margin-right: 1px;
    font-size: 15px;
    padding: 0px 2px;
}

#roadDiv{
    width: 100%;
    height: 400px;
    position: relative;
}

#road{
    width: 100%;
    height: 100%;
}

#carBlue,
#carRed{
    position: absolute;
    top: 35px;
}

#carRed{
    top: 230px;
}

.leftZero{
    left: 0;
}

.rightZero{
    right: 0;
}

.amination{
    animation-name: carMove;
    animation-timing-function: linear;
}

@keyframes carMove {
    0% {left:0%;}
    100% {left:calc(100% - 248px);}
}