.images{
    display: flex;
    height: 110px;
    overflow: hidden;
    width: 800px;
    margin: 300px auto;
}

.all{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    
}

.bigImage{
    position: relative;
    width: 700px;
    margin:180px auto;
}

.bigImage img{
    width: 100%;
}

.close{
    position: absolute;
    top: -8px;
    right: -8px;
    color: white;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
}

.all .bigImage .next, 
.all .bigImage .prev{
    position: absolute;
    top: 40%;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: white;
    font-size: 30px;
    line-height: 35px;
    background: rgba(230, 118, 118, 0.8);
    text-align: center;
}

.all .bigImage .next{
    right: 0;
    margin-right: 10px;
}

.all .bigImage .prev{
    left: 0;
    justify-content: flex-end;
    margin-left: 10px;
}