*{
    box-sizing: border-box;
}

.main{
    width: 100%;
}

.main .inputs{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

#col, #raw{
    width: 30%;
}

#button,
#setColor{
    width: 20%;
}

#table{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    position: absolute;
    top: 20px;
    width: 100%;
}

#table tr{
    height: 30px;
    width: 100%;
    border:1px solid black;
    margin-top: 1px;
    display: flex;
    flex-wrap: nowrap;
}

#table td{
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    line-height: 30px;
    color:black;
}